@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
* {
	max-height: none;
	max-width: none;
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
    }

  body {
	max-width: 2000px;
      min-width: 200px;  
 background-image: url(ar1.gif);
 background-position: center;
 background-size: cover;
    display: flex;
    justify-content: center;
   
	      align-items: center;
    height: 600px;
	 margin-bottom: 50px;
  }
  section {
    margin: 50px auto;
    background-color: transparent;
    border: 1.5px solid #02ff02;
    backdrop-filter: blur(90px);
    padding: 10%;
    width: 500px;
	 height: 810px;
     max-width: 100%;
     max-height: 100%;
    border-radius: 30px;
	margin-bottom: 10px;
    margin-top:300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    
  }
section h1 {
    font-size: 30px;
    text-align: center;
    color: #02ff02;
   }
section h2 {
	font-size: 20px;
	font-style: italic;
	text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff;
	margin-top: -27px
}
h3 {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 5px;
}
.input-box {
    width: 180%;
    position: center;
    margin-bottom: 5%;
    margin-left: -10.5%;
   text-align: 10px;
    
}
img{
    margin-left: 90px;
    margin-top: -20px;
    margin-bottom: 5px;
}
.input-box input{
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    background: transparent;
    border: 1.8px solid #02ff02;
    color: #ffffff;
    padding-left: 30px;
     }
h3{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.input-box input::placeholder {
  color: #ffffffbe;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align:start;
}
.input-box i {  
    position: relative; 
   left: 33px;
   color: #02ff02;
    }
label {
    color: aliceblue;

}
label a {
    color: aliceblue;
    text-decoration: none;
}
label pieds{
	display: block;
	margin: 0 auto;
	text-align: center;
}
button {
	display: block;
	margin: 0 auto;
width: 50%;
padding: 10px;
border-radius: 20px;
outline: none;
border: 2px;
font-weight: bold;
font-size: medium;
cursor: pointer;
transition: 0.5s;
}
button:hover{
    background-color: transparent;
    border: 1.5px solid #39FC00;
    color: #39FC00;
  
    
}
.label.input {
    color: aquamarine;
}
select {
    color: rgb(0, 60, 255);
    padding: auto;
    font-size: 14px;
}
footer{
	margin-bottom: 10px;
	margin-top: 5px;
	text-align: center;
	color: #ffffff;
	transition: 0.6s;
	animation: 1s;
	font-size: 18px;
	font-style: oblique;
	cursor: auto;
	column-rule-style: groove;

}
option{
   display: block;
	margin: auto;
	border-radius: 2.5px;
	border: 1.5px #02FF02;
	margin-bottom: auto;
	background-color:#ffffff;
	text-align: left;
	color: rgb(204, 64, 8);
	text-shadow: 2px;
	font-style: bold;
	font-size: 17px;
}
a{
    text-decoration: none;
    cursor: pointer;
    
    color: rgb(255, 255, 255);
}
